.home {
  text-align: center;
}

.home img {
  padding: 1.5rem;
}

.searchbox {
  position: absolute;
  top: 100px;
  left: calc(50% - 125px);

  input {
    margin: 0.5rem 0rem 0.5rem 0.5rem;
    padding: 0.5rem;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #ccc;
    width: 200px;
  }
  button {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    padding: 0.5rem;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 50px;
  }
}
