.footer {
  left: 0;
  bottom: 0;

  margin-top: 50px;
  text-align: center;

  width: 100%;

  padding: 16px 0;

  background: var(--theme-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  * {
    padding: 4px 0;
    font-size: 15px;
    color: var(--bg-color);
  }
}
